In [1]:
import pandas as pd
import requests
import mysql.connector
from sqlalchemy import create_engine

In [2]:
df = pd.read_csv('malaya.csv')

In [3]:
db_connection = mysql.connector.connect(
    host="localhost",
    user="root",
    password="****",
    database="ph_newspaper"
)

In [4]:
cursor = db_connection.cursor()

In [5]:
engine = create_engine('mysql+mysqlconnector://root:****@localhost/ph_newspaper')

In [6]:
df.to_sql('philstar', con=engine, if_exists='append', index=False)

-1

In [7]:
try:
    # Identify duplicate titles and their minimum article_id (keeping the earliest entry)
    cursor.execute("""
        SELECT title, MIN(article_id) AS min_article_id
        FROM philstar
        GROUP BY title
        HAVING COUNT(*) > 1
    """)
    duplicate_titles = cursor.fetchall()

    # Delete duplicate entries except the ones with minimum article_id
    for title, min_article_id in duplicate_titles:
        cursor.execute("""
            DELETE FROM philstar
            WHERE title = %s AND article_id <> %s
        """, (title, min_article_id))
    
    cursor.execute("""UPDATE philstar
    SET date = REPLACE(date, ' , / ', '')""")

    cursor.execute("""UPDATE philstar
    SET date = TRIM(date)""")

    # Commit the changes
    db_connection.commit()
    print("Duplicate entries have been deleted.")

except mysql.connector.Error as e:
    print("Error:", e)

finally:
    cursor.close()
    db_connection.close()

Duplicate entries have been deleted.